/******************************************************************
  
Main Stylesheet 
Author: 2060 Digital

This stylesheet will import all of your breakpoints

******************************************************************/
/* 
Keep in mind that most customizations can and should be done in
the Wordpress theme customizer. This file only exists for anything 
that can't be accomplished with the theme customizer/page builder.
*/
/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/******************************************************************
  
Stylesheet: Base Stylesheet
Author: 2060 Digital

This stylesheet will affect screens of all sizes.

******************************************************************/
/* 
Keep in mind that most customizations can and should be done in
the Wordpress theme customizer. This file only exists for anything 
that can't be accomplished with the theme customizer/page builder.
*/
/*********************
TABLET & SMALLER LAPTOPS
This is the typical size of a tablet, although it may also include
small laptop screens or (possibly?) giant phone screens.
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
    
  Stylesheet: Tablet Stylesheet
  Author: 2060 Digital
  
  This stylesheet will affect tablet-size (or small desktop) screens.
  
  ******************************************************************/
  /* 
  Keep in mind that most customizations can and should be done in
  the Wordpress theme customizer. This file only exists for anything 
  that can't be accomplished with the theme customizer/page builder.
  */ }
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
    
  Stylesheet: Desktop Stylesheet
  Author: 2060 Digital
  
  This stylesheet will affect desktop-size screens.
  
  ******************************************************************/
  /* 
  Keep in mind that most customizations can and should be done in
  the Wordpress theme customizer. This file only exists for anything 
  that can't be accomplished with the theme customizer/page builder.
  */ }
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other high-density displays with at least a 2x resolution. 
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  
  Stylesheet: 2x Density Stylesheet
  Author: 2060 Digital
  
  ******************************************************************/
  /* 
  You probably don't need to use this file, but in case you do want to
  have styles specific to retina/high-density displays, here you go.
  */ }
